<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662895690312-fve7934l8r12847c4i9kv5c5phs66gne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662895690312-fve7934l8r12847c4i9kv5c5phs66gne</string>
	<key>API_KEY</key>
	<string>AIzaSyAHJ8MQWgPHqmF2X5dFFYdE8SDJepe6xQs</string>
	<key>GCM_SENDER_ID</key>
	<string>662895690312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>appBaAle.AppNubank</string>
	<key>PROJECT_ID</key>
	<string>appnubank-3b38e</string>
	<key>STORAGE_BUCKET</key>
	<string>appnubank-3b38e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662895690312:ios:54802f1ec5e959fce10e7d</string>
</dict>
</plist>